* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e5dbb7;
}

header {
    width: 100%;
    background-color: #7F2122;
    padding: 40px;
    position: fixed;
    cursor: pointer;
    color:goldenrod
}

.menu {
    text-decoration: none;
    color: goldenrod;
    text-transform: uppercase;
    font-weight: bold;
}

.itemHome {
    position: absolute;
    top: 15%;
    right: 50%;
    transform: translate(-60%);
    border-width: 3px;
    border-style: solid;
    border-radius: 5%;
    border-color: goldenrod;
    padding: 8px 25px 8px 25px;
    cursor: pointer;
}

.itemSobre {
    position: absolute;
    top:15%;
    right: 50%;
    transform: translate(50%);
    border-width: 3px;
    border-style: solid;
    border-radius: 5%;
    border-color: goldenrod;
    padding: 8px 25px 8px 25px;
    cursor: pointer;
}

.itemContato {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(50%);
    border-width: 3px;
    border-style: solid;
    border-radius: 5%;
    border-color: goldenrod;
    padding: 8px 25px 8px 25px;
    cursor: pointer;
}

.icone {
    width: 2em;
    margin-right: 10px;
}

.banner {
    padding-top: 5em;
    margin-bottom: 6em;
}

.pintura {
    width: 100%;
}

section{
    color:rgb(73, 37, 11);
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 4%;
    padding: 1em 2em 2em 2em;
    background-color: #f5eac27a;
    border-radius: 5%;
    line-height: 3em;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-weight: 900;
}

p {
    text-align: justify;
    font-size: 1.5em;
    text-decoration: none;
}

.linkemtexto {
    text-decoration: none;
    color:rgb(73, 37, 11);
}

.contatowpp {
    position: fixed;
    z-index: 100;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 1%;
}

.iconewpp {
    width: 3em;
}

footer {
    width: 100%;
    background-color: #b9b18a;
    padding: 30px;
    text-align: center;
}